@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 255 255 255;
    --color-foreground: 0 0 0;
  }

  .dark {
    --color-background: 0 0 0;
    --color-foreground: 255 255 255;
  }

  body {
    @apply bg-[rgb(var(--color-background))] text-[rgb(var(--color-foreground))] transition-colors duration-300;
  }
}
*{
  ::-webkit-scrollbar{
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a10;
  }
  ::-webkit-scrollbar-thumb{
   background-color: #8000ff;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-gradient {
  background: linear-gradient(
    145deg,
    rgba(139, 92, 246, 0.05) 0%,
    rgba(99, 102, 241, 0.05) 100%
  );
  box-shadow: 
    0 0 0 1px rgba(139, 92, 246, 0.1),
    0 10px 30px -10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.perspective-1000 {
  perspective: 1000px;
}